/* Đảm bảo body chiếm toàn bộ màn hình */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #6a11cb, #2575fc); /* Gradient từ tím sang xanh dương */
    animation: gradientAnimation 6s ease infinite; /* Animation gradient thay đổi nhẹ nhàng */
}

/* Tạo hiệu ứng chuyển gradient */
@keyframes gradientAnimation {
    0% {
        background: linear-gradient(45deg, #6a11cb, #2575fc); /* Màu gradient ban đầu */
    }
    50% {
        background: linear-gradient(45deg, #ff7e5f, #feb47b); /* Màu gradient khác (cam và hồng) */
    }
    100% {
        background: linear-gradient(45deg, #6a11cb, #2575fc); /* Quay lại gradient ban đầu */
    }
}

h1 {
    color: white;
    text-align: center;
    font-size
